* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #f9f9f9;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.page-container {
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 0px;
    justify-content: center;
    align-items: center;
}