.page-container1 {
    max-width: 1200px;  /* Limits the width */
    max-height: 800px;  /* Limits the height */
    overflow: hidden;   /* Prevents content overflow */
    margin: auto;       /* Centers the container */
    display: flex;      /* Ensures internal elements are aligned properly */
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc; /* Optional border for visibility */
    padding: 10px;
}

.viewer-container {
    width: 100%;
    height: 600px; /* Adjust as needed */
    display: flex;
    justify-content: center;
    background-color: #f0f0f0; /* Light background */
}


#forgeViewer {
    width: 80%;
    height: 70%;
    background-color: #eaeaea; /* Placeholder background */
}

/* Styles for the image */
#imageContainer img {
    max-width: 100%;   /* Ensure the image width is contained within the container */
    max-height: calc(100vh - 100px); 
    object-fit: contain; /* Keep the aspect ratio and make sure it fits */
}

#imageContainer {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    font-size: 14px;
    max-width: 100%;
    overflow-x: auto;
    margin: 20px;
}



