.hero-section {
    width: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(30, 60, 114, 0.5)), url('../images/thumbnail.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
    text-align: center;
    min-height: 500px;
    position: relative;
    overflow: hidden; 
}

.hero-section::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 250px; 
    background: linear-gradient(
        to bottom, 
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.5) 50%,
        rgba(255, 255, 255, 1) 100% 
    );
    pointer-events: none;
}
.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    background: linear-gradient(to right, #252525, #ddd); 
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    background: linear-gradient(to right, #252525, #ddd); 
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: transparent; 
    color: white;
    border: 2px solid white;
}

.btn:hover {
    background-color: #B0B0B0;
}

.featured-models {
    padding: 60px 20px;
    text-align: center;
    width: 100%;
    background-color: white; 
}

.featured-models h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.model-grid {
    display: flex;
    flex-wrap: wrap; 
    gap: 0; 
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center; 
}

.cta-section {
    width: 100%; 
    background-color: #f1f1f1;
    padding: 80px 20px;
    text-align: center;
}

.cta-content h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.cta-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 2rem;
    }

    .hero-content p {
        font-size: 1rem;
    }

    .featured-models h2 {
        font-size: 2rem;
    }

    .cta-content h2 {
        font-size: 2rem;
    }
}

@media (min-width: 1024px) {
    .model-grid {
        flex-direction: row; 
        justify-content: center; 
        gap: 40px; 
    }

    .model-grid .model-item { 
        margin: 0; 
    }
}

@media (max-width: 1024px) {
    .model-grid {
        flex-direction: column; 
        gap: 40px; 
    }
}

@media (max-width: 768px) {
    .model-grid {
        flex-direction: column; 
    }
}