.project-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.project-title h1 {
    font-size: 2rem;
    margin: 0;
}

.project-description {
    font-size: 1rem;
    color: #666;
}

.project-top-buttons .btn,
.project-model-buttons .btn {
    background-color: #DEDEDE;
    color: black;
    border: 2px solid black;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
}

.project-top-buttons .btn:hover,
.project-model-buttons .btn:hover {
    background-color: #B0B0B0;
}

.project-model-viewer {
    width: 100%;
    height: 500px;
    background-color: #f1f1f1;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

.project-model-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 20px;
}

.project-model-data {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.project-model-data h3 {
    margin-top: 0;
}

.project-model-data ul {
    list-style: none;
    padding: 0;
}

.project-model-data li {
    margin-bottom: 10px;
}

.project-model-timeline {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
    margin-top: 20px;
}

.project-model-timeline h3 {
    margin-top: 0;
}
.project-model-timeline .user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    padding-bottom: 10px; 
    border-bottom: 2px solid #ddd;

}

.user-icon {
    width: 40px; 
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.username {
    font-weight: bold;
    color: #007BFF;
    font-size: 1.2rem;
}

.toggle-arrow {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #007BFF;
    transition: transform 0.3s ease;
}

.toggle-arrow:active {
    transform: rotate(90deg);
}

.extra-info {
    display: none; /* Initially hidden */
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.thumbnail {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.description {
    margin-top: 10px;
    color: #333;
}

@media (max-width: 768px) {
    .project-model-viewer {
        height: 300px;
    }
}
