.project-container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.project-title h1 {
    font-size: 2rem;
    margin: 0;
}

.project-description {
    font-size: 1rem;
    color: #666;
}

.project-top-buttons .btn,
.project-model-buttons .btn {
    background-color: #DEDEDE;
    color: black;
    border: 2px solid black;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
}

.project-top-buttons .btn:hover,
.project-model-buttons .btn:hover {
    background-color: #B0B0B0;
}

.project-model-viewer {
    width: 100%;
    height: 800px;
    background-color: #f1f1f1;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

.project-model-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 20px;
}

.project-model-data {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.project-model-data h3 {
    margin-top: 0;
}

.project-model-data ul {
    list-style: none;
    padding: 0;
}

.project-model-data li {
    margin-bottom: 10px;
}

.project-model-timeline {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
    margin-top: 20px;
}

.project-model-timeline-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.project-model-timeline-header h3 {
    margin: 0;
}

.total-commits {
    font-size: 0.875rem;
    color: #6a737d;
}

.project-model-timeline-versions {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.timeline-version {
    border: 1px solid #ddd;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.commit-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.commit-message {
    font-size: 1rem;
    font-weight: 600;
    color: #24292e;
}

.commit-date {
    font-size: 0.875rem;
    color: #6a737d;
}

.commit-details {
    font-size: 0.875rem;
    color: #6a737d;
    display: flex;
    gap: 10px;
    align-items: center;
}

.username {
    font-weight: 500;
    color: #0366d6;
}

.commit-location {
    font-style: italic;
}

@media (max-width: 768px) {
    .project-model-viewer {
        height: 300px;
    }
}